.about {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 48px 0 48px 24px;
  min-height: 100vh;
  background-color: $black;

  p {
    margin: 0;
    padding: 1rem 0 0 0;
    letter-spacing: 1px;
    font-family: "DM Serif Display", serif;
    font-size: 2rem;
    font-weight: 300;
    color: $white;
  }
}

@media screen and (min-width: 375px) {
  .about {
    p {
      padding: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    p {
      font-size: 3.5rem;
      padding: 0;
    }
  }
}

@media screen and (min-width: 1024px) {
  .about {
    p {
      font-size: 4rem;
      padding: 0 3rem 0 3rem;
    }
  }
}
