.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 48px 24px 48px 24px;
  min-height: 80vh;
  background-color: $black;

  img {
    object-fit: contain;
    width: 325px;
    height: auto;
    transform: translateX(-75px);
  }

  h2 {
    margin: 2rem 0 1rem 0;
    padding: 0;
    color: $white;
    font-size: 4rem;
  }

  p {
    margin: 0 0 1.5rem 0;
    padding: 0;
    letter-spacing: 1px;
    font-family: "DM Serif Display", serif;
    font-size: 2rem;
    font-weight: 300;
    color: $white;
  }
}

@media screen and (min-width: 375px) {
  .about {
    img {
      width: 375px;
    }

    p {
      padding: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding: 3rem;

    img {
      width: 768px;
      transform: translateX(-150px);
    }

    p {
      margin-bottom: 2rem;
    }
  }
}

@media screen and (min-width: 1024px) {
  .about {
    padding: 5rem 8rem;

    img {
      width: 1024px;
      transform: translateX(-200px);
    }

    h2 {
      margin-top: 3rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .about {
    img {
      width: 1440px;
      transform: translateX(-290px);
    }
  }
}
