// font-family: 'Playfair Display', serif;

body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $white;
}
